$gradient: linear-gradient(90deg, #e5d9f2, #a594f9);
$form-text-color: #666666;

.avatar-page {
  background: $gradient;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: $form-text-color;
  overflow-x: hidden;
  animation: fadeIn 1s ease-in-out;
}
