// Цветовая палитра
$primary-color: #a594f9; // Основной цвет
$primary-hover-color: #a594f9; // Цвет при наведении на основной элемент
$border-color: #ced4da; // Цвет рамки
$gradient: linear-gradient(90deg, #e5d9f2, #a594f9); // Градиент для фона

// Размеры и отступы
$padding: 12px; // Общие отступы
$font-size-base: 1rem; // Базовый размер шрифта
$font-size-small: 14px; // Маленький размер шрифта
$form-width: 100%; // Ширина формы
$form-max-width: 505px; // Максимальная ширина формы
$form-height: auto; // Высота формы
$form-aspect-ratio: 1.25; // Пропорции формы
$form-element-radius: 1.5rem; // Радиус скругления элементов формы
$form-text-color: #666666; // Цвет текста формы
$form-button-background-color: #a594f9; // Фоновый цвет кнопки формы
$form-button-disabled-color: #675d9c; // Цвет кнопки в неактивном состоянии
$form-element-color: white; // Цвет элементов формы
$form-border-color: #a594f9; // Цвет рамки элементов формы
$form-border-input-color: #ced4da; // Цвет рамки ввода

// Основной стиль формы
.avatar-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80vh;
  max-width: $form-max-width;
  margin: 3px auto;
  padding: 10px;
  border-radius: $form-element-radius;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background-color: $form-element-color;
  color: $form-text-color;

  // Заголовок формы
  .title {
    position: relative;
    top: 5px;
    padding-bottom: 3rem;
    text-align: center;
    font-size: 2rem;
    transition: color 0.5s ease; // Плавный переход цвета заголовка
  }

  // Стиль для текстовых полей формы
  .scenario-input {
    margin-bottom: 15px;
    width: 100%;
  }

  // Стили для многострочного текстового поля
  .scenario-input-textarea {
    resize: none; // Отключение возможности изменения размера
    width: 100%;
    padding: $padding;
    border-radius: $form-element-radius;
    border: 1px solid $form-border-input-color;
    font-size: $font-size-base;
    transition:
      border-color 0.4s ease,
      background-color 0.4s ease,
      box-shadow 0.4s ease;
    max-height: 150px; // Ограничение высоты поля

    // Стили при фокусе на текстовом поле
    &:focus {
      border-color: $primary-color;
      box-shadow: 0 0 5px $form-border-color;
      outline: none;
    }
  }

  // Блок с описанием выбора пола
  .avatar-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;

    .gender-options {
      display: flex;
      align-items: center;
    }

    // Стили для текста метки
    label {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    // Стиль для контейнера с кнопками выбора пола
    .gender-options {
      display: flex;
      gap: 10px;
    }
  }

  // Стили для кнопок выбора пола
  .genderButton {
    outline: none;
    width: 6rem;
    background-color: $form-element-color;
    color: $form-button-background-color;
    border: 1px solid $form-button-background-color;
    border-radius: $form-element-radius;
    padding: 1rem;
    cursor: pointer;
    transition:
      background-color 0.3s,
      border-color 0.3s,
      color 0.3s;

    // Стили для выбранной кнопки
    &.selected {
      background-color: $form-border-color; // Цвет для выбранной кнопки
      color: white;
    }
  }

  // Стили для кнопки отправки формы
  .form-btn {
    outline: none;
    display: block;
    margin: 0 auto;
    width: 60%;
    height: 50px;
    background-color: $form-button-background-color;
    color: $form-element-color;
    border: none;
    border-radius: $form-element-radius;
    font-size: 1.2rem;
    margin-bottom: 33px;
    cursor: pointer;
    transition:
      background-color 0.3s ease,
      color 0.3s ease,
      transform 0.3s ease;

    // Стили при наведении на кнопку
    &:hover {
      background-color: $form-element-color;
      color: $form-button-background-color;
      border: 1px solid $form-button-background-color;
    }

    // Стили при активном нажатии на кнопку
    &:active {
      background-color: darken($form-element-color, 10%);
      color: lighten($form-button-background-color, 10%);
      transform: scale(0.98);
    }
  }

  // Стиль для кнопки с состоянием загрузки
  .btn-loading {
    padding: 10px;
    background-color: #6c757d;
    border-color: #6c757d;
    cursor: not-allowed;
    opacity: 0.65;
  }

  // Стили для группы элементов формы
  .form-group {
    margin-bottom: 1.5rem;
    width: 100%;
  }

  // Кастомные стили для текстовых полей
  .custom-textarea {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid $border-color;
    font-size: $font-size-base;
    transition:
      border-color 0.4s ease,
      box-shadow 0.4s ease;

    // Стили при фокусе на текстовом поле
    &:focus {
      border-color: $primary-color;
      box-shadow: 0 0 5px rgba(19, 176, 245, 0.5);
    }
  }

  // Медиазапросы для различных размеров экрана
  @media screen and (max-width: 1024px) {
    padding: 20px;

    .form-btn {
      width: 70%;
    }

    .avatar-description-textarea,
    .scenario-input-textarea {
      max-height: 120px;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 15px;

    h2 {
      font-size: 1.5rem;
    }

    .btn {
      width: 80%;
      font-size: 1rem;
    }

    .avatar-description-textarea,
    .scenario-input-textarea {
      max-height: 120px;
      font-size: 0.9rem;
    }
  }

  @media screen and (max-width: 480px) {
    padding: 10px;

    h2 {
      font-size: 1.3rem;
    }

    .avatar-description-textarea,
    .scenario-input-textarea {
      font-size: 0.8rem;
    }

    .btn {
      width: 90%;
      height: 45px;
    }
  }
}
