$color-bg1: rgb(108, 0, 162);
$color-bg2: rgb(0, 17, 82);
$color1: rgb(18, 113, 225);
$color2: rgb(191, 159, 225);
$color3: rgb(100, 220, 255);
$color4: rgb(131, 157, 236);
$color5: rgb(154, 184, 249);

$color-interactive: rgb(87, 51, 194);
$circle-size: 80%; // Размер круга
$blending: hard-light; // Режим наложения

.g1 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba($color1, 0.8) 0,
      rgba($color1, 0) 50%
    )
    no-repeat;
  mix-blend-mode: $blending;
  width: $circle-size;
  height: $circle-size;
  top: calc(50% - (#{$circle-size} / 2));
  left: calc(50% - (#{$circle-size} / 2));
  opacity: 1;
  transform-origin: center center;
  animation: moveVertical 30s ease infinite;
}

.g2 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba($color2, 0.8) 0,
      rgba($color2, 0) 50%
    )
    no-repeat;
  width: $circle-size;
  height: $circle-size;
  top: calc(50% - (#{$circle-size} / 2));
  left: calc(50% - (#{$circle-size} / 2));
  opacity: 1;
  transform-origin: calc(50% - 500px);
  animation: moveCircle 20s reverse infinite;
}

.g3 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba($color3, 0.8) 0,
      rgba($color3, 0) 50%
    )
    no-repeat;
  width: $circle-size;
  height: $circle-size;
  top: calc(50% - (#{$circle-size} / 2) + 200px);
  left: calc(50% - (#{$circle-size} / 2) - 500px);
  opacity: 1;
  transform-origin: calc(50% + 400px);
  animation: moveInCircle 40s linear infinite;
}

.g4 {
  opacity: 0.7;
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba($color4, 0.8) 0,
      rgba($color4, 0) 50%
    )
    no-repeat;
  width: $circle-size;
  height: $circle-size;
  top: calc(50% - (#{$circle-size} / 2));
  left: calc(50% - (#{$circle-size} / 2));
  opacity: 0.7;
  transform-origin: calc(50% - 200px);
  animation: moveHorizontal 40s ease infinite;
}

.g5 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba($color5, 0.8) 0,
      rgba($color5, 0) 50%
    )
    no-repeat;
  width: calc(#{$circle-size} * 2);
  height: calc(#{$circle-size} * 2);
  top: calc(50% - $circle-size);
  left: calc(50% - $circle-size);
  opacity: 1;
  transform-origin: calc(50% - 800px) calc(50% + 200px);
  animation: moveInCircle 20s ease infinite;
}

.interactive {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba($color-interactive, 0.8) 0,
      rgba($color-interactive, 0) 50%
    )
    no-repeat;
  mix-blend-mode: $blending;
  width: 100%;
  height: 100%;
  top: -50%;
  left: -50%;
  opacity: 0.7;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(180deg);
  }
  180% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
