/* AuthButton.module.scss */

.auth-btn {
  margin: 0 30px;
  width: 150px;
  padding: 0 40px;
  font-size: 1rem;
  font-weight: 600;
  line-height: 50px;
  border-radius: 25px;
  background: #a594f9;
  color: white;
  border: 1px solid transparent;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease,
    box-shadow 0.3s ease,
    filter 0.3s ease,
    color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  outline: none;
  position: relative;
  bottom: 15px;
}

.auth-btn:active {
  transform: scale(0.98);
  filter: blur(2px);
  background-color: rgba(91, 84, 210, 0.8);
}

.auth-btn:hover {
  background-color: rgba(91, 84, 210, 0.8);
  color: #fff;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.auth-btn:focus {
  border-color: rgba(143, 132, 231, 1);
  outline: 2px solid rgba(143, 132, 231, 0.8);
  transform: scale(1.05);
}

.login-btn {
  margin-right: 0;
  background-color: rgba(122, 62, 225, 0.8);
}

.register-btn {
  margin-left: 0;
  background-color: rgba(217, 129, 228, 0.8);
}

.login-btn:hover {
  color: rgba(122, 62, 225, 0.9);
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.register-btn:hover {
  color: rgba(217, 129, 228, 0.9);
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}
