$main-bg-color: #007bff; /* Основной цвет */
$hover-bg-color: #0056b3; /* Цвет при наведении */
$modal-bg-color: #ffffff; /* Фон модального окна */
$input-border-color: #dcdcdc; /* Цвет рамки инпутов */
$input-focus-color: #a594f9; /* Цвет при фокусе */
$input-error-color: #dc3545; /* Цвет текста ошибки */
$error-bg: rgba(220, 53, 69, 0.15); /* Фон области ошибки */
$submit-bg-color: #a594f9;
$submit-hover-color: #846fc7; /* Цвет кнопки при наведении */
$border-radius: 25px;

.modal-header .close:focus {
  outline: none; /* Убирает синюю обводку при фокусе */
  box-shadow: none; /* Убирает тень, которая добавляется при фокусе */
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 450px;
  padding: 20px;
  background-color: $modal-bg-color;
  border-radius: $border-radius;
  margin: 0 auto;
}

// Стили для формы
form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

// Метка поля
.label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #333;
}

// Поля ввода
Form .input-email,
Form .input-password {
  margin-bottom: 1.2rem;
  border: 1px solid $input-border-color;
  border-radius: $border-radius;
  transition: all 0.3s ease-in-out;
  padding: 1rem;

  &:focus {
    border-color: $input-focus-color;
    box-shadow: 0 0 8px rgba(165, 148, 249, 0.4);
  }
}

.input-username,
.input-password {
  @extend .form-control !optional; /* Расширяем стили Bootstrap */
  padding: 0.8rem; /* Поверх существующего padding */
  transition: all 0.3s ease-in-out;

  &.input-error {
    border-color: $input-error-color;
    box-shadow: 0 0 6px rgba(220, 53, 69, 0.4);
  }
}

.submit {
  width: 50%;
  margin: 0 auto;
  position: relative;
  padding: 0.8rem;
  font-size: 0.9rem;
  text-transform: uppercase;
  background-color: $submit-bg-color;
  color: #fff;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: $submit-hover-color;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }

  &:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
    box-shadow: none;
  }
}

@media (max-width: 768px) {
  .form-container {
    padding: 15px;
    max-width: 400px;
  }

  .submit {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .form-container {
    padding: 10px;
    max-width: 100%;
  }

  .label {
    font-size: 0.9rem;
  }

  .submit {
    padding: 0.7rem;
  }
}
