// Цветовая палитра
$primary-color: #007bff;
$primary-hover-color: #0056b3;
$border-color: #ced4da;
$button-text-color: white;
$gradient: linear-gradient(90deg, #13b0f5, #e70faa);

// Размеры и отступы
$padding: 12px;
$font-size-base: 1rem;
$font-size-small: 14px;
$border-radius: 10px;

// Максимальные размеры контейнера
$container-max-width: 60vw;
$container-max-height: 90vh;
