// Цветовая палитра
$primary-color: #A594F9;
$primary-hover-color: #A594F9;
$border-color: #ced4da;
$gradient: linear-gradient(90deg, #E5D9F2, #A594F9);

// Размеры и отступы
$padding: 12px;
$font-size-base: 1rem;
$font-size-small: 14px;

// Параметры формы
$form-width: 505px;
$form-height: 561px;
$form-aspect-ratio: $form-height / $form-width * 100%;
$form-element-radius: 1.5rem;
$form-text-color: #666666;
$form-button-background-color: #A594F9;
$form-button-text-color: white;
$form-border-color: #A594F9;
$form-border-input-color: #CED4DA;