:root {
  --primary-color: #007bff;
  --primary-hover-color: #0056b3;
  --border-color: #ced4da;
  --border-radius: 10px;
  --padding: 12px;
  --font-size-base: 16px;
  --font-size-small: 14px;
  --container-max-width: 60vw;
  --container-max-height: 90vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/poppins-regular-webfont.woff2") format("woff2"),
    url("./assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(90deg, #13b0f5, #e70faa);
  color: #495057;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: var(--container-max-width);
  height: var(--container-max-height);
  margin: 40px auto;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar-description-input,
.scenario-input {
  margin-bottom: 20px;
  border-radius: 8px;
}

.avatar-description-textarea,
.scenario-input-textarea {
  resize: none;
  width: 100%;
  padding: var(--padding);
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  font-size: var(--font-size-base);
  transition: border-color 0.3s, box-shadow 0.3s;
  max-height: 150px;
}

.avatar-description-textarea:focus,
.scenario-input-textarea:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

.avatar-form {
  margin: 20px auto;
  padding: 2em;
  background-color: transparent;
  border-radius: 12px;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar-form h2 {
  background: linear-gradient(90deg, #13b0f5, #e70faa);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: center;
  margin-bottom: 50px;
  font-size: 2rem;

  font-weight: bold;
}

.avatar-form button {
  display: block;
  margin: 0 auto;
  width: 40%;
  height: 50px;
  padding: var(--padding);
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.avatar-form button:hover {
  background-color: var(--primary-hover-color);
}

@media (max-width: 768px) {
  .container {
    width: 95%;
    padding: 20px;
  }

  .avatar-form h2 {
    font-size: 20px;
  }

  .form-control {
    font-size: var(--font-size-small);
  }

  .avatar-form button {
    font-size: var(--font-size-small);
  }
}
